<!DOCTYPE html>
{% load static %}
<html lang="en-us" >
<head>
<title>Edit Courses | Avi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'avi_app/CSS/style.css' %}"/>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
</head>


<body>

    <header>
        <div>
            <img src="{% static '/avi_app/images/avi.jpg'%}">
        </div>

        <div>
            <ul>
                <a href="/home" ><li>Home</li></a>
                <a href="/courses" class="active"  ><li>Courses</li></a>
                <a href="/recommendations" ><li>Recommendations</li></a>
                <a href="/account_settings" > <li>Account Settings</li></a>
                <a href="/login"><li>Logout</li></a>
            </ul>
        </div>
    </header>

    <div id="edit_courses">
        <h3>Edit Courses</h3>
            <form action="" method="post"><input type="hidden" name="csrfmiddlewaretoken">
                {% csrf_token %}
                {% for i in enrolment %}
                    <input type="text" readonly name="{{i.id}}_course" value="{{i.course_id.course_code}}"/>
                    <input type="number" name="{{i.id}}_grade" value="{{i.course_mark}}"/>
                    <a href="/delete/{{i.id}}"><input type="button" value="Delete"/></a>
                    <br/>
                    <br/>
                {% endfor %}
                <input type="submit" value="Save Changes"/>
            </form>
   

    </div>

</body>
</html>
