<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Log in | Avi</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"><meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Avi Login</a></h1>
        </div>   
    </div>
    <!-- END Header -->
    
    
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
          <form action="" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="OchZ3SKDMQo7OgnQbDSfshDjA3sSwyeYi0icRcQViqIDZnMtQIrewt3xPiXCo5IE">
            <div class="form-row">
              <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label><input for="student_number" type="text" name="student_number" placeholder="Student Number" autofocus required id="student_number">
            </div>

            <div class="form-row">
              <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label><input for="student_password" type="password" Placeholder="Password" name="student_password" required id="student_password">
            </div>
            
            <div class="submit-row">
              <label>&nbsp;</label><input type="submit" value="Log in">
            </div>
          </form>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer">

    </div>
</div>
<!-- END Container -->

</body>
</html>
